# reveal
Reveal source code line-by-line in LaTeX presentations.

{% macro slide(name, num) -%}
<p align="center"><img src="{% include 'slides/' + name + '-' + num + '.imgur' %}" width="80%" /></p>
{%- endmacro %}

{% macro code(name, lang="go") -%}
```{{ lang }}
{% include name %}
```
{%- endmacro %}

{{ slide("example", "2") }}

## Install

* Copy [`reveal.py`](reveal.py) and [`reveal.tex`](reveal.tex) into your project.
* Make sure you have [pygments](http://pygments.org/) installed with `pip install Pygments`.

## Setup

Generate yourself style macros with

```
./reveal.py --style paraiso-dark style --output syntax.tex
```

Here we've chosen the `paraiso-dark` style, but you can choose anything
supported by pygments. See `pygmentize -L styles` for the full list.

Include the syntax macros and `reveal` headers in your LaTeX document with

```tex
\input{reveal.tex}
\input{syntax.tex}
```

## Including Source Code

Reveal understands special comments in source code at the end of each line,
starting with the prefix `//r`. The following example shows a "Hello World"
program in Go with reveal markup.

{{ code("samples/hello.go") }}

This markup specifies:

* There are three _stages_. The first is implicit, and displays all lines.
* The `import` line will be highlighted in stage 2.
* The `fmt.Println` line will be highlighted in stage 3.
* These lines also have inline comments specified for stages 2 and 3.

To process this into LaTeX we use

```
./reveal.py generate --input samples/hello.go
```

Now include this code in slides with

```tex
\reveal{samples/hello.go}
```

The result is the following three slides.

{{ slide("example", "1") }}
{{ slide("example", "2") }}
{{ slide("example", "3") }}

## Snippets

It can sometimes be useful to present pieces of a larger file. `reveal`
supports this through \emph{snippets}. In a `reveal` comment an uppercase word
is interpreted as a snippet name. For example the following code has three snippets `TYPE`, `WRITETO` and `MAIN`.

{{ code("samples/greet.go") }}

Snippets can then be included by name.

```tex
\revealsnippet{samples/greet.go}{main}
```

This produces frames:

{{ slide("example", "10") }}
{{ slide("example", "11") }}
{{ slide("example", "12") }}
